In [9]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('temperaturas.csv', delimiter=";")

In [5]:
df.describe()

               Año  temperatura
count    62.000000    62.000000
mean   1990.500000    72.624194
std      18.041619     1.057322
min    1960.000000    70.900000
25%    1975.250000    71.725000
50%    1990.500000    72.450000
75%    2005.750000    73.300000
max    2021.000000    75.300000

In [6]:
df.min()

Año            1960.0
temperatura      70.9
dtype: float64

In [13]:
df.max()

Año            2021.0
temperatura      75.3
dtype: float64

In [8]:
df.var()

Año            325.50000
temperatura      1.11793
dtype: float64

In [14]:
df.std()

Año            18.041619
temperatura     1.057322
dtype: float64