In [5]:
import pandas as pd

In [9]:
df = pd.read_csv(('empleados.csv'), delimiter=";")

In [10]:
df

,Nombre,Apellido,Sexo,Estado_Civil,Edad,Experiencia,Salario,Gerencia,Departamento
0,Alexandro,NaN,Masculino,Soltero(a),22.0,3.0,2423.0,No,Publicidad
1,Carlos,NaN,Masculino,Casado(a),38.0,10.0,3132.0,Sí,NaN
2,Felipa,NaN,Femenino,Soltero(a),26.0,5.0,2639.0,No,Comercial
3,Daniel,NaN,Masculino,Casado(a),35.0,10.0,3122.0,No,Comercial
4,John,NaN,Masculino,Casado(a),35.0,13.0,3431.0,Sí,Servicios al cliente
...,...,...,...,...,...,...,...,...,...
246,Jose,NaN,Masculino,Casado(a),30.0,6.0,2760.0,No,Servicios al cliente
247,Marcelo,NaN,Masculino,Divorciado(a),44.0,15.0,3616.0,No,IT
248,Eric,NaN,NaN,Casado(a),25.0,7.0,2880.0,Sí,Recursos Humanos
249,Marc,NaN,NaN,Casado(a),24.0,2.0,2172.0,No,Producto
250,Leandro,NaN,Masculino,Casado(a),37.0,11.0,3245.0,No,Finanzas

In [15]:
df['Edad']= df['Edad'].fillna(df['Edad'].mean())

In [16]:
df.head(50)

,Nombre,Apellido,Sexo,Estado_Civil,Edad,Experiencia,Salario,Gerencia,Departamento
0,Alexandro,NaN,Masculino,Soltero(a),22.000000,3.0,2423.0,No,Publicidad
1,Carlos,NaN,Masculino,Casado(a),38.000000,10.0,3132.0,Sí,NaN
2,Felipa,NaN,Femenino,Soltero(a),26.000000,5.0,2639.0,No,Comercial
3,Daniel,NaN,Masculino,Casado(a),35.000000,10.0,3122.0,No,Comercial
4,John,NaN,Masculino,Casado(a),35.000000,13.0,3431.0,Sí,Servicios al cliente
5,Edward,NaN,Masculino,Soltero(a),33.331579,NaN,4500.0,No,Legal
6,Ruperta,NaN,Femenino,Casado(a),54.000000,18.0,3962.0,No,Producto
7,Amaya,NaN,Femenino,Divorciado(a),22.000000,3.0,2450.0,NaN,Comercial
8,Francisca,NaN,Femenino,Soltero(a),27.000000,4.0,2564.0,No,IT
9,Selena,NaN,Femenino,Casado(a),24.000000,6.0,2709.0,Sí,Contabilidad
10,Febe,NaN,Femenino,Casado(a),44.000000,22.0,4359.0,No,NaN
11,Ximena,NaN,Femenino,Soltero(a),58.000000,24.0,4532.0,No,Legal
12,David,NaN,Masculino,Divorciado(a),20.000000,1.0,1977.0,No,Recursos Humanos
13,Max,NaN,Masculino,Divorciado(a),39.000000,8.0,2953.0,No,Ventas
14,Selena,NaN,Femenino,Casado(a),24.000000,6.0,2709.0,Sí,Contabilidad
15,NaN,NaN,Femenino,NaN,44.000000,22.0,NaN,NaN,NaN
16,Paula,NaN,Femenino,Divorciado(a),55.000000,12.0,3306.0,No,Producto
17,Tim,NaN,Masculino,Divorciado(a),22.000000,4.0,2518.0,No,Recursos Humanos
18,Andrew,NaN,Masculino,Divorciado(a),33.331579,10.0,3194.0,No,Producto
19,Gloria,NaN,Femenino,Casado(a),31.000000,11.0,3267.0,No,Servicios al cliente
20,Ema,NaN,Femenino,Soltero(a),33.331579,15.0,3635.0,No,Producto
21,Isaura,NaN,NaN,Divorciado(a),35.000000,8.0,2973.0,Sí,Legal
22,Jesse,NaN,Masculino,Soltero(a),34.000000,11.0,3257.0,No,Publicidad
23,Nathan,NaN,NaN,Soltero(a),35.000000,9.0,3040.0,Sí,Servicios al cliente
24,Dennis,NaN,Masculino,Soltero(a),28.000000,6.0,2730.0,NaN,NaN
25,Ronald,NaN,Masculino,Soltero(a),23.000000,5.0,2695.0,No,Servicios al cliente
26,Clarisa,NaN,Masculino,Divorciado(a),38.000000,6.0,2764.0,NaN,Servicios al cliente
27,Randy,NaN,Masculino,Soltero(a),33.331579,24.0,4529.0,No,Publicidad
28,Steven,NaN,NaN,Casado(a),19.000000,1.0,2051.0,No,Legal
29,Justin,NaN,Masculino,Casado(a),33.331579,18.0,3907.0,No,Servicios al cliente
30,Alexander,NaN,Masculino,Soltero(a),33.331579,5.0,2656.0,No,Legal
31,Manola,NaN,Femenino,Soltero(a),40.000000,9.0,3023.0,No,IT
32,Vera,NaN,NaN,Casado(a),33.331579,NaN,NaN,NaN,NaN
33,Brandon,NaN,Masculino,Soltero(a),33.331579,7.0,2835.0,NaN,NaN
34,Isabela,NaN,Femenino,Casado(a),66.000000,12.0,3344.0,No,Contabilidad
35,Herberto,NaN,Masculino,Casado(a),28.000000,3.0,2391.0,No,Servicios al cliente
36,Lilia,NaN,Femenino,Divorciado(a),42.000000,16.0,3796.0,No,Ventas
37,Carmelita,NaN,Femenino,Casado(a),33.331579,5.0,2676.0,No,Reclutamiento
38,Agustina,NaN,Femenino,Casado(a),21.000000,3.0,2371.0,No,Servicios al cliente
39,Anselma,NaN,Femenino,Casado(a),18.000000,0.0,1887.0,No,Contabilidad
40,Gaspar,NaN,Masculino,Casado(a),34.000000,7.0,2894.0,NaN,Servicios al cliente
41,Lucho,NaN,Masculino,Divorciado(a),40.000000,3.0,2385.0,No,Finanzas
42,Maricela,NaN,NaN,Divorciado(a),27.000000,6.0,2751.0,No,Contabilidad
43,Julie,NaN,Femenino,Soltero(a),33.331579,6.0,2709.0,No,Legal
44,Maristela,NaN,Femenino,Soltero(a),38.000000,11.0,3256.0,No,Publicidad
45,Gabriela,NaN,Femenino,Soltero(a),19.000000,1.0,1985.0,No,Producto
46,Lisandro,NaN,Masculino,Casado(a),33.331579,9.0,3027.0,Sí,Ventas
47,Eduardo,NaN,Masculino,Soltero(a),33.331579,10.0,3128.0,No,Comercial
48,Mirta,NaN,Femenino,Casado(a),33.331579,15.0,3614.0,No,Servicios al cliente
49,Danilo,NaN,Masculino,Soltero(a),33.331579,25.0,4611.0,No,Contabilidad

In [17]:
busqueda2= "Vera"

busqueda3= df[df['Nombre']==busqueda2]
print(busqueda3)

   Nombre  Apellido Sexo Estado_Civil       Edad  Experiencia  Salario  \
32   Vera       NaN  NaN    Casado(a)  33.331579          NaN      NaN

   Gerencia Departamento
32      NaN          NaN